body{
	background-color:#1B64A8;
	color: #FFFFFF
}
header{
	background-color: #2A8EB5;
	border: outset #13416B;
	border-width: 7px 10px 15px 5px;
	border-radius: 25px;
	margin: 12px;
	padding-bottom: 0;
	line-height: 1px;
	margin-top: 0;
	position: fixed;
	top: 10px;
	width: 95%;
	z-index: 1;
	/*position: -moz-sticky;
	position: -webkit-sticky;
	position: -o-sticky;
	position: -ms-sticky;*/
}
header h3 {
	font-family: Garamond, serif;
	font-style: oblique;
	text-align: center;
}
/*nav ul{
  list-style: none;
  margin: 0 2px;
  padding: 0;
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
}
nav li {
   display: flex items;
   padding: 5px 5px;
}

nav a {
  font-weight: normal;
  padding: 10px 5px;
  text-decoration: none;
}
nav a:hover{
	background-color: #0A143D;
}
alternative way of creating an equal width links menu below*/

.navbar{
	overflow: auto;
	width: 100%;
	background-color: #2A8EB5;
	border-radius:  5%;
}
/* Find a way to round corners of the last two links in the navbar with border radius*/
.navbar a:link{
	float: left;
	text-decoration: none;
	text-align: center;
	padding: 12px;
	font-size: 17px;
	width: 22%;
}
.navbar a:hover{
	background-color: #1B64A8;
}
.navbar a:active{
	background-color: #0A143D;
}
/*.navbar a:visited{
text-decoration: normal;
color: black;
}*/
/*  main {
	display: grid;
grid-template-columns: 1fr 1fr;
}
	*/
a{ color: #FFFFFF
}

h1 {
	text-align: center;
	font-style: oblique;
	font-weight: bolder;
	font-family: Garamond, serif;
}
.who-am-i{
	text-align: center;
	margin: 30px;
	border: inset 5px;
	border-radius: 25px;
	background-color: #2A8EB5;
	position: relative;
	top: 120px;
	transition: .2s ease-in-out;
	
}
.who-am-i:hover{
	transform: scale(1.05);
}
.education>h3{grid-area:header;
text-transform: uppercase;
text-align: center;}
.education>img{	grid-area:pic;}
.education>p{grid-area:par;}
.education{
	border: 1px outset;
	border-width: 10px;
	border-radius: 25px;
	display: grid;
  grid-template-areas: 
  'pic header'
  'pic par';
gap: 1rem;
max-width: 60%;
background-color: #2A8EB5;
margin-bottom: 15px;
margin-top: 150px;
	transition: .5s ease-in-out;
}
.education:hover{
	transform: translate(2rem, 0);
}
.education button{
transition: .1s ease-in-out
}
.education button:hover {
transform: scale(1.1);
}
.education img{
	width: 300px;
	height: auto;
	border-radius: 10px 0 0 10px;
}
.education p{
	line-height: 200%;
	font-style: bold;
	float: left;
}
.tedtalk>h3{grid-area: header;
text-align: center;
text-transform: uppercase;
}
.tedtalk>p{grid-area: paragraph;
width: 450px;
line-height: 200%;
}
.tedtalk>figure{grid-area: figure;
padding-right: 0;}
/*.tedtalk>figure>img{
	width: 100px;
}*/
.tedtalk {
	border: 1px outset;
	border-width: 7.5px;
	border-radius: 25px;
	margin-top: 15px;
	display: inline-grid;
	max-width: 85%;
	float: right;
grid-template-areas:
    'header figure'
    'paragraph figure'
	'paragraph figure';
grid-gap: 0;
background-color: #2A8EB5;
	transition: .5s ease-in-out;
	
}
.tedtalk:hover{
	transform: translate(-2rem, 0);
}

.tedtalk img {
	width: 100%;
	border-radius: 10px;
}
.tedtalk figure{ 
float: right;
	transition: .5s ease-in-out;
}
.tedtalk figure:hover{
	transform: scale(1.1);
	z-index: 1;
}
	
/*
.tedtalk span{
	font-style: italic;
}
*/
.radio>p{ grid-area:paragraphr;
}
.radio>ul{ grid-area:listr;
}
.radio ul+p {grid-area: postpara;}

.radiopics{grid-area:imager;
 }
 .radio img{
max-width: 300px;
border-radius: 10px;
 }
.solo{ z-index: 0.7;
 }
.middle{
z-index: 0.8;
position: relative;
right: 100px;
top: 100px;
}
.back{
z-index: 0.9;
position: relative;
left: 100px;
top: 40px;
}
.radio>h3{ grid-area: headerr;
text-transform: uppercase;
text-align: center;}
.radio{
	width: 90%;
	background: #2A8EB5;
	border-radius: 25px;
	border: outset 7.5px;
	display: inline-grid;
	grid-template-areas:
	'imager headerr'
	'imager paragraphr'
	'imager listr'
	'imager postpara';
	gap: 0;
	margin-top: 30px;
	margin-bottom: 20px;
	transition: .5s ease-in-out;
	padding: 0;
	float: left;
}
.radio:hover{
	transform: translate(2rem, 0);
}
/*
.radiohide{
	visibility: hidden;
}
.radiohide:active {
	visibility: visible;
}
*/
.psych-love{clear: both;
border: inset 7.5px;
border-radius: 25px;
background: #2A8EB5;
margin-bottom: 20px;
}
.psych-love h3{
	text-transform: uppercase;
	text-align: center;
	
}

footer{
	margin: 0;
	margin-left: 0;
	Margin-bottom: 0; 
	background: linear-gradient(#666666 0%, #2A8EB5 100%);
	width: 100%;
max-height: 300px;
border: solid 3px;
border-radius: 25px;
padding: 0px 2px 0px 2px;
}	
footer nav{
	overflow: auto;
}
footer a{
	width: 23%;
	margin: 2px;
	text-decoration: none;
	text-align: center;
	float: left;
}
footer a:hover {
	background: #666666;
}
footer p{
	font-size: small;
}
